.tabbrowser-tab[unread] {
  color: rgb(204, 0, 0) !important;
  font-style: italic;
}

.tabbrowser-tab[pending] {
  color: rgb(204, 0, 0) !important;
  font-style: italic;
  background-color: rgb(236, 233, 216) !important;
}
