@import url(./tabmixplus_tabstyle.css);
@import url(./UserChrome-Tweaks/tabs/more-compact-tabs.css);
@import url(./UserChrome-Tweaks/toolbars/auto-hide.css);
@import url(./UserChrome-Tweaks/toolbars/compact-toolbars.css);

.tabbrowser-tab .tab-close-button {
  display: none;
}

context-openlinkincurrent {
    display: none;
}

#TabsToolbar > .toolbarbutton-1 {
  max-height: 21px;
}